.CharacterPage {
    overflow: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url('../images/CharacterPage/characterBackground.png');
}
