.scenario-making-page {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.scenario-making-panel {
  display: flex;
  justify-content: center;
  gap: 20px;
}
