.retryTitle {
    text-align: center;
    font-family: Poppins-Medium;
    font-size: 30px;
    color: black;
    margin-bottom: 0px;
    margin-top: 20px;
}

.Error img {
    margin-top: 7px;
    width: 20%;
    height: 20%;
    cursor: pointer; /* 마우스 커서 스타일 */
}

.errorRetryButton:hover {
    transform: rotate(60deg);
    transition: transform 0.5s;
}
