@font-face {
  font-family: "Poppins-Regular";
  src: url("./Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("./Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("./Poppins-Bold.ttf") format("truetype");
}
