.FairyImageGenerator {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.chapterAccordionSection {
    width: 45%;
    height: 100vh;
    padding: 40px;
}
.GeneratedChapters {
    font-family: Poppins-Medium;
    font-size: 30px;
    color: black;
    margin: 0;
    margin-bottom: 10px;
}

.generatedImageSection {
    background-color: antiquewhite;
    width: 45%;
    height: 100vh;
}
