.FairyImageGenerator {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.chapterAccordionSection {
    width: 45%;
    height: 100vh;
    padding: 40px;
}
.GeneratedChapters {
    font-family: Poppins-Medium;
    font-size: 30px;
    color: black;
    margin: 0;
    margin-bottom: 20px;
}

.chapterDescrption {
    text-align: left;
}

.title {
    text-align: left;
    color: black;
    margin: 0;
    margin-bottom: 10px;
    font-family: Poppins-Bold;
    font-size: 20px;
    background-color: antiquewhite;
}
.detail {
    text-align: left;
    font-family: Poppins-Medium;
    font-size: 15px;
    color: black;
    margin: 0;
    margin-bottom: 10px;
}

.generatedImageSection {
    background-color: antiquewhite;
    width: 45%;
    height: 100vh;
}

.ViewSeparateChapterScriptComponent {
    text-align: left;
}

.ChapterName {
    font-family: Poppins-Bold;
    font-size: 30px;
    color: black;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
}

.btn-arrow {
    color: transparent;
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    transition: all 150ms ease-out;
}
.btn-arrow::before,
.btn-arrow::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #606060;
    transition: all 150ms ease-out;
}
.btn-arrow::before {
    width: 75%;
    height: 25%;
}
.btn-arrow::after {
    width: 25%;
    height: 75%;
}
.btn-arrow:hover::before,
.btn-arrow:hover::after,
.btn-arrow:focus::before,
.btn-arrow:focus::after {
    background-color: #404040;
}
.btn-arrow.btn-arrow-left::before,
.btn-arrow.btn-arrow-left::after,
.btn-arrow.btn-arrow-right::before,
.btn-arrow.btn-arrow-right::after {
    top: 12.5%;
    left: 12.5%;
}
.btn-arrow.btn-arrow-left {
    transform: rotate(-45deg);
}
.btn-arrow.btn-arrow-right {
    transform: rotate(135deg);
}

.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.GenerateImageButtonContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.custom-btn {
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btn-5 {
    background: #000;
    color: #fff;
    line-height: 42px;
    padding: 0;
    border: none;
}
.btn-5:hover {
    background: transparent;
    color: #000;
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}
.btn-5:before,
.btn-5:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #000;
    transition: 400ms ease all;
}
.btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}
.btn-5:hover:before,
.btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
}
