.initial-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: 1000;
}

.fade-in {
  color: white;
  animation: fadeIn 1.5s ease;
  opacity: 0;
  font-size: 50px;
  font-family: Poppins-Medium;
  position: absolute;
  z-index: 1010;
}

.loading-segment {
  flex: 1;
  background-color: black;
  height: 100%;
  animation: slideOut 1s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideOut {
  to {
    transform: translateY(-100%);
  }
}
