.loading-overlay {
  width: 870px;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 60px;
}
